{% extends 'base.html' %}
<!-- title  -->
{% block name %} - Discover {% endblock %}

<!-- content  -->
{% block content %}
<div class="discover ">
    <h2 class="heading">Discover</h2>
    
        <div class="cardContainer">
            {% for item in list %}
            <a class="cardButton" href="/{{item['id']}}">
                <div class="card">
                    <img src="{{item['poster']}}" alt="Poster">
                    <h3>{{item['title']}}</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    
</div>
<div class="pageContainer">
    <a href="/discover-" class="prevPage"><i class="fa-solid fa-arrow-left"></i></a>
    <p>{{page}}</p>
    <a href="/discover+" class="nxtPage"><i class="fa-solid fa-arrow-right"></i></a>
</div>
{% endblock %}