<!-- FORMAT OF LIST AND RECO 
    [{
'title': title,
"id": id,
"poster": poster
}]-->
{% extends 'base.html' %}
{% block content %}
<div class="homeContainer">
    <div class="headTitle">
        <h2> <span class="title-word title-word-1">Trending</span> <span class="title-word title-word-2">Today</span>
        </h2>
    </div>

    <div class="trending">
        {% for item in list %}
        <!-- "list" contain movies that are trending today -->
        <a href="/ShowMovie/{{item['id']}}">
            <div class="card">
                <img src="{{item['poster']}}" alt="poster" class="trendingCard" id="{{item['id']}}">
            </div>
        </a>
        {% endfor %}
        <a href="/trending" class="taketopage">Trending <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="headTitle">
        <h2> <span class="title-word title-word-1">Trending</span> <span class="title-word title-word-2">This</span>
            <span class="title-word title-word-3">Week</span></h2>
    </div>
    <div class="trending">
        {% for item in reco %}
        <!-- "reco" contain movies that are trending today-->
        <a href="/ShowMovie/{{item['id']}}">
            <div class="card">
                <img src="{{item['poster']}}" alt="poster" class="trendingCard" id="{{item['id']}}">
            </div>
        </a>
        {% endfor %}
        <a href="/trending" class="taketopage">Trending <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="latest"></div>
</div>
{% endblock %}