{% extends 'base.html' %}
{% block content %}

<div id="indexContainer" style="background-image: url({{poster}}); background-repeat: no-repeat;
    background-size: cover;">
    <div id="searchContainer">
        <form action="/search" method="post">
            <input type="text" name="Search" id="searchTextbox" placeholder="Movies | Series | TV Shows | Animes | Person" required>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>
</button>
        </form>
    </div>
</div>
    
{% endblock %}