{% extends 'base.html' %}
{% block name %}
- Trending
{% endblock %}
{% block content %}
<div class="discover ">
    <div class="top">
        <h2 class="heading">Trending</h2>
        <div class="dropdown">
            <button type="submit"></button>
        </div>
    </div>
    <div class="cardContainer">
        {% for item in list %}
        <a class="cardButton" href="/{{item['id']}}">
            <div class="card">
                <img src="{{item['poster']}}" alt="Poster">
                <h3>{{item['title']}}</h3>
            </div>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}